:root{
    --nb-col: 3;
    --nb-ligne: 3;
}

.affichage-partie{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}


.historique{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    max-height: 300px;
    gap: 2rem;
    margin: 2rem 0;
    padding: 2rem;
    background-color: rgba(93, 64, 55, 0.5);
    border-radius: 12px;
    flex-shrink: 0;
}

.historique p{
    font-size: 1.2em;
    color: #FFF;
}

.histo-direction{
    transform: rotate(90deg);
    font-size: 1.5em;
    color: #FFF;
    width: 10%;
    justify-content: space-between;
}

.histo-direction:hover,
.histo-direction:focus{
    /*transform: rotate(90deg);*/
    background: linear-gradient(135deg, #795548 0%, #5D4037 100%);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    color: #FFF;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 20px #FFF;
}

table{
    width: 70vh;
    height: 70vh;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 12px;
    background-color : #8B7355;
}

td{
    border: 10px outset #A68A64;
    position: relative;
    /*box-shadow: outset 2px 2px 4px rgba(0,0,0,0.4);*/
    width: calc(100%/var(--nb-col));
    height: calc(100%/var(--nb-ligne)); 
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    table{
        width: 90vw;
        height: 90vw;
    }
    .affichage-partie{
        display: flex;
        flex-direction: column;
    }
    
    .historique {
        order: 2;
    }
    
    table {
        order: 1;
    }
    
    .statsTracking {
        order: 3;
    }
}